Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 1 Programming Intro-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 2 Python Intro-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 3 Python Intro Quiz-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 4 Hello World-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 5 First Programming Concepts Cheat Sheet-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 6 Hello World Quiz-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 1 - Hello Python/.ipynb_checkpoints/Week 01 - 7 Graded Assessment-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 6 - Writing Scripting from the Ground Up/.ipynb_checkpoints/6_1 Scripting - 0 Intro-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 6 - Writing Scripting from the Ground Up/.ipynb_checkpoints/6_1 Scripting - 1 Problem Statement-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 6 - Writing Scripting from the Ground Up/.ipynb_checkpoints/6_1 Scripting - 2 Research-checkpoint.ipynb
Coursera/Crash Course on Python by Google/Week 6 - Writing Scripting from the Ground Up/.ipynb_checkpoints/6_1 Scripting - 3 Planning-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
